<html>
<p><strong><%-ownerName%></strong> want to share <strong><%-simFriendlyName%></strong> with you.</p>
<p><span><em>"<%-message%>"</em></span></p>
<% if( !!prettyNumber ){ %>
<p>SIM number: <%-prettyNumber%></p>
<% } %>
<p>SIM physical location: <%-gatewayLocation%></p>
<% if( !isTargetUserRegistered ){ %>
<p>As you do not have a Semasim account yet you will be asked to chose a password to proceed.</p>
<% } %>
<a href="<%-url%>">Accept sharing request</a>
</html>